<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
          {{#link-to 'index'}}<span class="navbar-brand"><img src="/favicon-230x230.png"> SIDE</span>{{/link-to}}
        </div>

        {{ outlet "nav" }}

        <ul class="nav navbar-top-links navbar-right" style="border-left: 1px dashed #e7e7e7">
          {{#if session.isAuthenticated}}
              <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      Logged in as <i class="fa fa-user fa-fw"></i> {{sessionAccount.account.username}}  <i
                          class="fa fa-caret-down"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-user">
                      <li>{{#link-to 'userprofile'}}<i class="fa fa-user fa-fw"></i> User Profile{{/link-to}}</li>
                      <li>{{#link-to 'settings'}}<i class="fa fa-gear fa-fw"></i> Settings{{/link-to}}</li>
                      <li class="divider"></li>
                      <li>
                          <a {{action 'invalidateSession'}}><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                      </li>
                  </ul>
              </li>
          {{else}}
              <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-user">
                      <li>{{#link-to 'login'}}<i class="fa fa-sign-in fa-fw"></i> Login{{/link-to}}</li>
                      <li>{{#link-to 'register'}}<i class="fa fa-edit fa-fw"></i> Sign Up{{/link-to}}</li>
                  </ul>
              </li>
          {{/if}}
        </ul>
    </nav>

  {{#if showRightBar }}
    {{application-rightbar instance=component hideRightBar="hideRightBar" saveComponent="saveComponent" deleteComponent="deleteComponent" updatePorts="updatePorts"}}
  {{/if}}

  {{#if showLeftBar }}
    {{application-leftbar searchTerm=searchTerm filteredComponents=filteredComponents hideLeftBar="hideLeftBar"}}
  {{/if}}

  {{#if showNotificationModal }}
    {{notification-modal title=title result=result details=details okModal="okModal" hideNotificationModal="hideNotificationModal" id="notification-modal"}}
  {{/if}}

  {{#if showLoadingModal }}
    {{loading-modal message=message hideLoadingModal="hideLoadingModal"}}
  {{/if}}

  {{#if showSshConsole }}
    {{ssh-console component=component hideSshConsole="hideSshConsole"}}
  {{/if}}

    <div id="page-wrapper">
        <div class="row" style="padding-top: 5px;">
          {{#each newNotifications as |item|}}
            {{notification-popup item=item}}
          {{/each}}
            <div class="col-lg-12">
              {{ outlet }}
            </div>
        </div>
    </div>
</div>